<div class="about-container" id="about">
  <!-- Left Side - Image (Hidden on Small Screens) -->
  <div class="about-image">
    <img src="images/point2.png" alt="Profile Image" />
  </div>

  <!-- Right Side - About Info -->
  <div class="about-content">
    <h1>About Me</h1>
    <p class="description">
      I'm Zainab, a passionate web developer with expertise in Angular and .NET Core, dedicated to crafting seamless digital experiences."
    </p>
    <table class="about-table">
      <tr><td><strong>Name:</strong></td><td>Zainab Akbar</td></tr>
      <tr><td><strong>Profession:</strong></td><td>Web Developer</td></tr>
      <tr><td><strong>Education:</strong></td><td>Software Engineering</td></tr>
      <tr><td><strong>Nationality:</strong></td><td>Pakistan</td></tr>
      <tr><td><strong>Address:</strong></td><td>Punjab, Sialkot</td></tr>
      <tr><td><strong>Email:</strong></td><td>Zainabpro298gmail.com</td></tr>
    </table>
   

    <p class="projects"> <span style="color: rgb(189, 157, 15); font-weight: bolder;">120</span> Projects Complete</p>
    <button class="Cv_Button" (click)="downloadCV()">Download CV</button>
  </div>
</div>
