<div class="contact-section">
    <h2  class="section-title">Contact Me</h2>
    <p>Get in touch for collaborations, projects, or any inquiries—I'm happy to connect!</p>
    
    <div class="contact-container">
      <div class="contact-box">
        <div class="icon-wrapper">
          <i class="fas fa-map-signs icon"></i>
        </div>
        <h3>ADDRESS</h3>
        @if (isLoggedIn) {
          <p>Pakistan, Punjab, Sialkot</p>
        } @else {
          <p>Login to view details</p>
        }
      </div>
    
      <div class="contact-box">
        <div class="icon-wrapper">
          <i class="fas fa-phone icon"></i>
        </div>
        <h3>CONTACT NUMBER</h3>
        @if (isLoggedIn) {
          <p>+1235 2355 98</p>
        } @else {
          <p>Login to view details</p>
        }
      </div>
    
      <div class="contact-box">
        <div class="icon-wrapper">
          <i class="fas fa-paper-plane icon"></i>
        </div>
        <h3>EMAIL ADDRESS</h3>
        @if (isLoggedIn) {
          <p>infoyoursite.com</p>
        } @else {
          <p>Login to view details</p>
        }
      </div>
    
      <div class="contact-box">
        <div class="icon-wrapper">
          <i class="fas fa-globe icon"></i>
        </div>
        <h3>WEBSITE</h3>
        @if (isLoggedIn) {
          <p>yoursite.com</p>
        } @else {
          <p>Login to view details</p>
        }
      </div>
    </div>
    
  </div>
  

  <div class="contact-container">
    <!-- Left Side: Image -->
    <div class="contact-image">
      <img src="images\point2.png" alt="Contact Me" />
    </div>
  
    <!-- Right Side: Form -->
    <div class="contact-form">
      <h2>Contact Me</h2>
      <form (submit)="sendMessage($event)">
        <div class="input-group">
          <input type="text" name="name" [(ngModel)]="name" placeholder="Your Name" required />
        </div>
        <div class="input-group">
          <input type="email" name="email" [(ngModel)]="email" placeholder="Your Email" required />
        </div>
        <div class="input-group">
          <input type="text" name="subject" [(ngModel)]="subject" placeholder="Subject" required />
        </div>
        <div class="input-group">
          <textarea name="message" [(ngModel)]="message" placeholder="Your Message" required></textarea>
        </div>
        <button type="submit">Send Message</button>
      </form>
    </div>
    